/AdministratorRepository.class
/AdministratorRepositorySQL.class
/ConnectionFactory.class
/PatientRepository.class
/AdministratorFactory.class
/PatientRepositorySQL.class
/PatientRepositoryFactory.class
